.btn {
    padding: 5px 10px;
    font-size: 19px;
    margin: 10px;
    background-color: #ff0000;
    color: white;
    border: none;
}
.btn:hover {
    background-color: rgba(255, 255, 255, .5);
    color: #ff0000;
    cursor: pointer;

}