.button {
    padding: 10px;
    font-size: 16px;
    margin: 10px;
    background-color: #0066FF;
    color: #FFF;
    border: 2px solid #0066FF;
}

.ListMain .header .button:hover {
    background-color: #003399;
    border: 2px solid #003399;
    cursor: pointer;
}

input {
    padding: 10px;
    font-size: 16px;
    border: 2px solid #FFF;
    width: 165px;
    margin-right: 5px;
}
.personal {
    font-size: 50px;
    color: #ccc;
}